<div class="bg-white p-8 rounded-lg shadow-md w-full mb-4">
  <h1 class="text-2xl font-bold mb-6 text-center text-gray-800">Formulario de Configuración</h1>
  <form [formGroup]="formLink" novalidate (ngSubmit)="onSubmit($event)" class="flex flex-row gap-4">
    <div class="mb-4">
      <label for="url" class="block text-gray-700 text-sm font-bold mb-2">URL:</label>
      <input type="text" id="url" name="url" formControlName="url" required
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
    </div>
    <div class="mb-4">
      <label for="identifier" class="block text-gray-700 text-sm font-bold mb-2">Identifier:</label>
      <input type="text" id="identifier" name="identifier" formControlName="identifier" required
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
    </div>
    <div class="mb-6">
      <label for="key" class="block text-gray-700 text-sm font-bold mb-2">Key:</label>
      <input type="password" id="key" name="key" formControlName="key" required
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
    </div>
    <div class="flex items-center justify-between">
      <button type="submit"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full">
        Enviar
      </button>
    </div>
  </form>
</div>
