<div class="p-6 bg-gray-100">
  <h2 class="text-3xl font-bold mb-6 text-gray-800">Links</h2>
  <div class="flex flex-row flex-wrap gap-4">
    @for(link of links(); track link._id) {
        <div class="relative overflow-hidden rounded-lg shadow-lg w-60">
          <!-- Imagen de fondo -->
          <img src="./logo.svg" alt="Background"
            class="w-full h-[200px] object-cover">

          <!-- Overlay para mejorar la legibilidad del texto -->
          <div class="absolute inset-0 bg-black bg-opacity-50"></div>

          <!-- Contenido de la card -->
          <div class="absolute bottom-0 left-0 right-0 p-6">
            <!-- URL -->
            <div class="flex items-center mb-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2 text-white" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1" />
              </svg>
              <a [href]="'https://danniel-link-frontend.vercel.app/' + link.identifier" target="_blank" class="text-sm font-medium text-white truncate">{{link.identifier}}</a>
            </div>

            <!-- Clicks -->
            <div class="flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2 text-white" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M15 15l-2 5L9 9l11 4-5 2zm0 0l5 5M7.188 2.239l.777 2.897M5.136 7.965l-2.898-.777M13.95 4.05l-2.122 2.122m-5.657 5.656l-2.12 2.122" />
              </svg>
              <p class="text-sm font-medium text-white">{{link.click}} clicks</p>
            </div>
          </div>
        </div>
    }
  </div>
</div>
